/*color*/
/*media query variables*/
/*Font family & Icomoon*/
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraBold.eot");
  src: url("../fonts/poppins//Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins//Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/poppins//Poppins-ExtraBold.woff") format("woff"), url("../fonts/poppins//Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.eot");
  src: url("../fonts/poppins//Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins//Poppins-Bold.woff2") format("woff2"), url("../fonts/poppins//Poppins-Bold.woff") format("woff"), url("../fonts/poppins//Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.eot");
  src: url("../fonts/poppins//Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins//Poppins-Medium.woff2") format("woff2"), url("../fonts/poppins//Poppins-Medium.woff") format("woff"), url("../fonts/poppins//Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.eot");
  src: url("../fonts/poppins//Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins//Poppins-Regular.woff2") format("woff2"), url("../fonts/poppins//Poppins-Regular.woff") format("woff"), url("../fonts/poppins//Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.eot");
  src: url("../fonts/poppins//Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins//Poppins-SemiBold.woff2") format("woff2"), url("../fonts/poppins//Poppins-SemiBold.woff") format("woff"), url("../fonts/poppins//Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?rc89lk");
  src: url("../fonts/icomoon/icomoon.eot?rc89lk#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?rc89lk") format("truetype"), url("../fonts/icomoon/icomoon.woff?rc89lk") format("woff"), url("../fonts/icomoon/icomoon.svg?rc89lk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e912";
}

.icon-phone:before {
  content: "\e942";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-location:before {
  content: "\e947";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

.title {
  text-align: center;
  font-size: 7rem;
  color: #ffffff;
  text-shadow: -0.2rem 0.4rem #FEBE10;
}

.padding-common {
  padding-block: 4rem;
}

@media (max-width: 767px) {
  .title {
    font-size: 5rem;
    text-shadow: -0.2rem 0.2rem #FEBE10;
  }
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes listingScaleBounceReverse {
  0% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes listingScaleBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.2);
  }
}
.swiper {
  position: static;
}
.swiper-button-next, .swiper-button-prev {
  padding: 1rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: #FEBE10;
  border: 0.2rem solid #ffffff;
  top: 7rem;
}
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 2rem;
  color: #000000;
}
.swiper .swiper-button-prev {
  right: 15rem;
  left: unset;
}
.swiper .swiper-button-next {
  right: 10rem;
  left: unset;
}

@media (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    top: 45rem;
    margin: 0.5rem;
  }
  .swiper .swiper-button-prev {
    right: 50%;
    left: unset;
  }
  .swiper .swiper-button-next {
    right: unset;
    left: 50%;
  }
}
/*Base css start*/
html {
  font-size: 10px;
}

body {
  font-weight: 400;
  font-family: "Poppins";
  background-color: #000000;
  color: #ffffff;
  font-size: 1.4rem;
  overflow-x: hidden;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
}

p {
  color: #999999;
  font-size: 1.6rem;
  margin-bottom: 0;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media (max-width: 360px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
/*Header css start*/
header {
  height: 5rem;
  padding-block: 1rem;
  background-color: #000000;
}
header .navbar-brand {
  color: #ffffff;
  font-style: italic;
}
header .navbar-brand:hover {
  color: #ffffff;
}
header .nav-link {
  color: #ffffff;
  font-size: 1.6rem;
  margin-inline: 2rem;
  position: relative;
}
header .nav-link::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #FEBE10;
  width: 100%;
  height: 0.2rem;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
header .nav-link:hover {
  color: #ffffff;
}
header .nav-link:hover::before {
  transform: scaleX(1);
}
header .nav-link.active {
  border-bottom: 0.2rem solid #FEBE10;
}
header .navbar-collapse {
  background-color: #000000;
}

.navbar-nav .nav-link.active {
  font-weight: 700;
  color: #FEBE10;
}

@media (max-width: 991px) {
  header .nav-link {
    margin-inline: 0;
  }
  header .navbar-nav {
    padding-top: 2rem;
  }
  header .navbar-toggler {
    background-color: #ffffff;
  }
}
/*Footer Css Start*/
footer {
  padding-block: 10rem;
}
footer .footer-headinfo {
  text-align: center;
  margin-block: 4rem;
}
footer .footer-body {
  margin-top: 8rem;
}
footer .footer-icon {
  width: 10rem;
  height: 10rem;
  margin-inline: auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1019607843);
}
footer .footer-icon span {
  color: #FEBE10;
  font-size: 3rem;
}
footer .footer-resumelink {
  color: #999999;
}
footer .footer-resumelink:hover {
  color: #FEBE10;
}
footer .footer-copyright {
  margin-top: 7rem;
}
footer .footer-sociallinks {
  margin-top: 8rem;
}
footer .footer-sociallinks {
  gap: 1rem;
}
footer .footer-linkdata {
  width: 5rem;
  height: 5rem;
  background: rgba(255, 255, 255, 0.1019607843);
  color: #FEBE10;
  border-radius: 50%;
  font-size: 2rem;
}
footer .footer-address {
  margin-bottom: 1.5rem;
}
footer .footer-content {
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}
footer .footer-content:hover .footer-icon span {
  color: aliceblue;
}
footer .footer-hidden {
  visibility: hidden;
}

/*Banner Section Css*/
.banner {
  display: flex;
  align-items: center;
}
.banner-thubmnail {
  display: none;
  height: 20rem;
  width: 20rem;
  background-color: #FEBE10;
  border-radius: 50%;
  border: 0.5rem solid #ffffff;
  margin-inline: auto;
  margin-block: 10px;
  overflow: hidden;
}
.banner-thubmnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner-greeting {
  font-size: 3rem;
  color: #FEBE10;
  font-weight: 700;
}
.banner-name {
  font-size: 5rem;
  font-weight: 700;
  margin-block: 1.5rem;
}
.banner-name span {
  color: #FEBE10;
}
.banner-profile {
  font-size: 4rem;
  font-weight: 700;
  color: #FEBE10;
}
.banner-degswiper {
  height: 5.5rem;
}
.banner-rightsection {
  height: 50rem;
  width: 50rem;
}
.banner-rightsection img {
  width: 100%;
  height: 100%;
}
.banner-profilecontainer {
  width: 30rem;
  height: 30rem;
  border: 0.1rem solid #ffffff;
  display: block;
  position: absolute;
  top: 15rem;
  left: 12rem;
}
.banner-profilecontainer::before {
  content: "";
  background-color: #e9ecef;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  pointer-events: none;
  background-position: 33%;
  background-image: url("../images/rohan.png");
}
.banner-profileimg {
  position: relative;
}
.banner .icon-play {
  display: inline-block;
  animation: shrink 1s ease-in-out infinite;
}

@media (max-width: 767px) {
  .banner-rightsection {
    display: none;
  }
  .banner-thubmnail {
    display: block;
  }
  .banner-leftsection {
    text-align: center;
  }
  .banner-buttoncontainer {
    justify-content: center;
  }
  .banner-name {
    font-size: 4rem;
  }
}
/*About us css*/
.aboutus-mobiletitle {
  display: none;
}
.aboutus-img {
  width: 15rem;
  height: 15rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #FEBE10;
  border: 0.5rem solid #ffffff;
  overflow: hidden;
}
.aboutus-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.aboutus-skilltitle {
  font-weight: 700;
  color: #FEBE10;
  font-size: 2rem;
}
.aboutus-intro {
  line-height: 2.5rem;
}
.aboutus-counterwrapper {
  font-weight: 700;
  font-size: 2rem;
}
.aboutus-number {
  color: #FEBE10;
}
.aboutus .progress {
  background-color: #1a1a1a;
  height: 1.2rem;
}
.aboutus .progress-bar {
  background-color: #FEBE10;
}

@media (max-width: 767px) {
  .aboutus-mobiletitle {
    display: block;
  }
  .aboutus-desktoptitle {
    display: none;
  }
  .aboutus-info {
    text-align: center;
    margin-top: -7rem;
  }
  .aboutus-img {
    margin-bottom: 2rem;
    margin-inline: auto;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: unset;
    background: url("../images/pattern.svg") center/100% no-repeat;
    position: relative;
  }
  .aboutus-img img {
    display: none;
  }
  .aboutus-img::before {
    content: "";
    border: 0.2rem solid #ffffff;
    width: 60%;
    height: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .aboutus-img::after {
    content: "";
    width: 60%;
    height: 50%;
    display: block;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    background: #FEBE10 url("../images/mweb-img.png") center/75% no-repeat;
  }
}
/*Resume section css*/
.resume-experiance {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 700;
  padding-block: 2.5rem;
  position: relative;
}
.resume-experiance::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  display: block;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(244, 244, 125) 20%, rgb(238, 238, 36) 50%, #ffbd39 100%);
}
.resume-organizationlogo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0.2rem solid #FEBE10;
}
.resume-year {
  font-size: 2rem;
  font-weight: 700;
  color: #FEBE10;
}
.resume-designation {
  color: #ffffff;
  font-size: 2.5rem;
}
.resume-organization {
  color: #999999;
  font-size: 1.8rem;
  font-weight: 500;
}
.resume-skilllist {
  padding-left: 5rem;
  list-style-type: disc;
}
.resume-skillitem {
  font-size: 1.6rem;
  color: #999999;
  margin-block: 1.5rem;
}
.resume img[alt^=vidhyanidhi] {
  width: 100%;
  background-color: #000000;
}

.project {
  padding-top: 0;
}
.project-name {
  font-size: 2.2rem;
}
.project-container {
  height: 40rem;
  position: relative;
}
.project-container:hover .project-thumbnail {
  animation: listingScaleBounce 0.5s ease-out forwards;
}
.project-container:hover .project-name {
  color: #FEBE10;
}
.project-thumbnail {
  width: 100%;
  transform: scale(1);
  transition: transform 0.5s ease-out;
  animation: listingScaleBounceReverse 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}
.project-links {
  position: absolute;
  inset: 0;
  font-size: 0;
  cursor: pointer;
  pointer-events: none;
}
.project-figure {
  max-height: 21rem;
  overflow: hidden;
}
.project-counterwrapper {
  margin-top: 6rem;
  position: relative;
  bottom: -5rem;
}
.project-counterlist {
  gap: 2rem;
  flex-wrap: wrap;
}
.project-counteritem {
  width: calc(20% - 2rem);
  background-color: #191919;
  border-radius: 0.5rem;
}
.project-counter {
  font-size: 2.2rem;
  font-weight: 700;
  color: #FEBE10;
}
.project-countertitle {
  color: #ffffff;
  font-weight: 500;
  font-size: 2rem;
}
.project-github {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.project-gitdatawrapper {
  padding-block: 15rem;
  background: url("../images/git-section-bg.jpg");
}
.project-gittext {
  color: #FEBE10;
}

@media (max-width: 767px) {
  .project-counteritem {
    width: calc(50% - 2rem);
  }
  .project-gitdatawrapper {
    padding-inline: 1rem;
  }
  .project-counterwrapper {
    bottom: -12rem;
  }
}
/* Work Journey*/
.journey-section .swiper-button-prev,
.journey-section .swiper-button-next {
  display: none;
}
.journey-showmore {
  text-transform: uppercase;
  margin: 0 auto;
  display: none;
  position: relative;
  z-index: 1;
}
.journey-swiper {
  height: 73rem;
  padding-inline: calc((100vw - 1140px) / 2);
}
.journey-item {
  display: flex;
  flex-direction: column;
  height: 36.5rem;
  margin-left: unset;
  padding-block: 2.5rem;
  position: relative;
}
.journey-item::after {
  content: "";
  border-top: 0.05rem solid #ffffff;
  width: 100%;
  height: unset;
  top: 0;
  left: calc(-1 * (100vw - 1140px) / 2);
  width: 100vw;
  position: absolute;
}
.journey-item:nth-child(odd) {
  align-self: flex-end;
}
.journey-item:nth-child(odd) .journey-image {
  top: -10rem;
  left: -2rem;
}
.journey-item:nth-child(odd) .journey-logo::before {
  top: -5rem;
  left: 0.5rem;
}
.journey-item:nth-child(even) {
  justify-content: end;
}
.journey-item:nth-child(even)::before {
  top: unset;
  bottom: -0.5rem;
}
.journey-item:nth-child(even)::after {
  top: 100%;
}
.journey-item:nth-child(even) .journey-content {
  display: flex;
  flex-direction: column-reverse;
}
.journey-item:nth-child(even) .journey-detail {
  margin-bottom: 0;
  margin-top: 2rem;
}
.journey-item:nth-child(even) .journey-wrap {
  display: flex;
  flex-direction: column-reverse;
}
.journey-item:nth-child(even) .journey-image {
  bottom: -10rem;
  left: -2rem;
}
.journey-item:nth-child(even) .journey-logo::before {
  bottom: -5rem;
  left: 0.5rem;
}
.journey-item:first-child::before, .journey-item:last-child::before {
  border: 0;
  background: url("/images/blinker.svg") no-repeat 100%;
  width: 3rem;
  height: 3rem;
  top: -1.5rem;
  left: -0.9rem;
}
.journey-item::before {
  content: "";
  aspect-ratio: 1/1;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  z-index: 2;
  border: 0.2rem solid #FEBE10;
  background-color: #000000;
  position: absolute;
  top: -0.5rem;
}
.journey-logo {
  position: relative;
}
.journey-logo::before {
  content: "";
  width: 0.1rem;
  height: 2rem;
  background: #ffffff;
  position: absolute;
}
.journey-image {
  background-color: #ffffff;
  border: 0.2rem solid #FEBE10;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
}
.journey-imagedata {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.journey-year {
  font-size: 2.2rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#FEBE10, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.journey-detail {
  margin-bottom: 2rem;
  color: #FEBE10;
  font-weight: 700;
}
.journey-listdata {
  list-style-type: disc;
  padding-left: 3rem;
}
.journey-listitem {
  margin-block: 1rem;
}

@media (max-width: 768px) {
  .journey-section {
    padding-bottom: 4rem;
  }
  .journey-section .swiper-button-prev,
  .journey-section .swiper-button-next {
    display: none;
  }
  .journey-swiper {
    height: unset;
  }
  .journey-list {
    display: flex;
    flex-direction: column;
    height: 55rem;
  }
  .journey-list.open {
    height: unset;
  }
  .journey-list.open::after {
    content: unset;
  }
  .journey-list::before {
    content: "";
    height: 100%;
    width: 0.05rem;
    background-color: #ffffff;
    position: absolute;
    left: -1.5rem;
  }
  .journey-list::after {
    content: "";
    height: 10rem;
    width: calc(100% + 8rem);
    display: block;
    left: -4rem;
    position: absolute;
    bottom: -4.2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .journey-item {
    height: unset;
  }
  .journey-item::after {
    content: unset;
  }
  .journey-item::before {
    top: 4.5rem;
    left: -1.9rem;
    bottom: unset;
  }
  .journey-item:nth-child(even)::before {
    top: 4.5rem;
    bottom: unset;
  }
  .journey-item:nth-child(even) .journey-content {
    display: flex;
    flex-direction: column;
  }
  .journey-item:nth-child(even) .journey-detail {
    margin-bottom: 2rem;
    margin-top: unset;
  }
  .journey-item:nth-child(even) .journey-wrap {
    flex-direction: row;
  }
  .journey-item:first-child::before, .journey-item:last-child::before {
    top: 3.5rem;
    left: -2.9rem;
  }
  .journey-wrap {
    flex-direction: row;
    display: flex;
    gap: 3rem;
  }
  .journey-image {
    position: unset;
  }
  .journey-logo::before {
    content: unset;
  }
  .journey-showmore {
    display: block;
  }
}
@media (max-width: 1024px) {
  .journey-swiper {
    padding-inline: 4rem;
  }
  .journey-item::after {
    left: unset;
  }
}
.btn {
  border-radius: unset;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000000;
  padding: 1rem 1.5rem;
  transition: all 0.25s ease-in-out;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0.5rem;
}
.btn::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
  background: rgb(254, 190, 16);
  background: linear-gradient(56deg, rgb(254, 190, 16) 41%, rgb(254, 216, 110) 64%, rgb(254, 224, 140) 84%, rgb(255, 255, 255) 99%);
}
.btn:hover {
  color: unset;
  background-color: unset;
}
.btn:hover::before {
  width: 100%;
}
.btn span {
  padding-inline: 0.5rem;
}
.btn-primary {
  background-color: #FEBE10;
}
.btn-primary:hover {
  color: #000000;
}
.btn-secondry {
  background-color: #ffffff;
  color: #000000;
}
.btn-secondry:hover {
  color: #000000;
}
.btn [class^=icon], .btn .btn-text {
  z-index: 1;
}

.modal .btn-close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: #000000;
  opacity: 1;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.2rem solid #FEBE10;
  cursor: pointer;
  z-index: 1;
}
.modal .btn-close::before {
  content: "\ea0f";
  font-family: "icomoon";
  color: #FEBE10;
  font-size: 1.2rem;
}
.modal-header {
  border-bottom: 0;
}
.modal-content {
  border-radius: 0;
  background-color: #000000;
  border: 0.2rem solid #FEBE10;
}
.modal .video-js .vjs-big-play-button {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #000000;
  border: 0.3rem solid #FEBE10;
}
.modal .video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  color: #FEBE10;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */