$font-primary: "Poppins";
$font-path :'/fonts/poppins/';

/*color*/
$primary: #000000;
$secondry: #ffffff;
$tertiary:#999999;
$yellow :#FEBE10;
$gray:#ffffff1a;


/*media query variables*/
$small-mobile-min-width: 0px;
$small-mobile-max-width: 360px;
$medium-mobile-min-width: 576px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 991px;
$desktop-min-width: 992px;
$large-desktop-min-width: 1200px;
$xl-desktop-min-width: 1600px;